* {
	box-sizing: border-box;
}

body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0 auto;
	width: 960px;
	}	

.header {
	background-color: #ffffff;
	border-bottom: solid 2px #cccccc;
	height: 100px;
	width: 960px;	
}

.name {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 28px;
	font-weight: bold;
	height: 98px;
	margin-left: 135px;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-top: 30px;
	text-align: center;
	width: 290px;
}

li {
	color: #777777;
	display: inline-block;
	float: right;
	list-style: none;
	margin-right: 40px;
	padding-top: 45px;
}

.main-section {
	background-image: url("../images/grey_sandbag.png");
	height: 500px;
	width: 960px;
}

.content-header {
	border-bottom: solid 2px #dddddd;
	color: #4aaaa5;
	float: left;
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 15px;
	width: 425px;
}

.content-box {
	background-color: #ffffff;
	border: solid 2px #dddddd;
	color: #777777;
	float: left;
	height: 425px;
	margin-bottom: 40px;
	margin-left: 135px;
	margin-top: 30px;
	padding-left: 20px;
	padding-top: 10px;
	width: 460px;	
}
.bio-image {
	float: left;
	padding-right: 20px;
}
.bio-text {
	color: #777777;
	line-height: 28px;
	margin-right: 20px;
	margin-top: 60px;
}

.contact-form {
	clear: both;
	float: left;
	color: #777777;
}

.submit-button  {
	background-color: #4aaaa5;
	color: #ffffff;
	float: left;
	font-size: 18px;
	height: 40px;
	margin-bottom: 0;
	margin-top: 10px;
	padding-bottom: 0;
	padding-top: 10px;
	text-align: center;
	width: 100px;
}

.portfolio-button  {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 18px;
	float: left;
	height: 40px;
	margin-top: 80px;
	padding-top: 8px;
	position: relative;
	text-align: center;
	width: 175px;
	z-index: 2
}

.portfolio-image {
	float: left;
	height: 150px;
	width: 175px;
	margin-top: 60px;
	position: absolute;
	border: solid red;
	z-index: 1
}

.connect-header {
	border-bottom: solid 2px #dddddd;
	color: #4aaaa5;
	float: right;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
	width: 200px;
}

.connect-box {
	background-color: #ffffff;
	border: solid 2px #dddddd;
	color: #777777;
	float: right;
	height: 150px;
	margin-right: 135px;
	margin-top: 30px;
	width: 200px;	
}

.icons {
	float: right;
	margin-right: 3px;
	margin-top: 20px;
}

.footer {
	background-color: #666666;
	border-top: solid 7px #4aaaa5;
	clear: both;
	color: #ffffff;
	height: 100px;
	padding-top: 30px;
	position: bottom;
	text-align: center;
}









