* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	width: 960px;
}	

.header {
	background-color: #ffffff;
	width: 960px;
	height: 100px;
	border-bottom: solid 2px #cccccc;

}

.name {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 28px;
	margin-left: 135px;
	margin-bottom: 0;
	padding-bottom: 0;
	width: 250px;
	height: 95px;
	text-align: center;
	padding-top: 30px;
	float: left;
}

li {
	list-style: none;
	display: inline-block;
	float: right;
	margin-right: 40px;
	color: #777777;
	padding-top: 45px;
}

.mainsection {
	width: 960px;
	height: 500px;
	background: lightgray;
}

.aboutme {
	color: #4aaaa5;
	border-bottom: solid 2px #dddddd;
	margin-bottom: 20px;
	width: 425px;
	float: left;
}

.connectwithme {
	color: #4aaaa5;
	border-bottom: solid 2px #dddddd;
	text-align: center;
	width: 175px;
	padding-right: 20px;
	float: right;
}

.icons {
	margin-right: 30px;
	float: right;
	padding-top: 20px;
}

.contentbox {
	width: 469px;
	height: 348px;
	margin-left: 135px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: #ffffff;
	color: #777777;
	border: solid 2px ;
	padding-left: 20px;
	padding-top: 10px;
	float: left;
	border: solid 2px #dddddd;

}

.connect {
	background-color: #ffffff;
	color: #777777;
	margin-top: 40px;
	margin-left: 40px;
	width: 192px;
	height: 142px;
	float: left;
	border: solid 2px #dddddd;
}

.footer {
	clear: both;
	background-color: #666666;
	color: #ffffff;
	border-top: solid 7px #4aaaa5;
	text-align: center;
	height: 100px;
	width: 960px;
	padding-top: 35px;
	position: bottom;
}









